tqdm
imageio
cython
matplotlib
imgaug
IPython[all]
scikit-learn==0.23.0
imbalanced-learn
imblearn
git+https://github.com/aleju/imgaug@14b85e2209de0107c250e4d9dd6507dec1eae826
importlib-metadata
joblib
jsonschema
numpy
opencv-python
pandas
Pillow
scikit-image
scipy
scikit-video
tensorflow-gpu==2.4.1
